$green-100: #a2f2f9;
$green-200: #49d5e1;
$green-300: #1a7a83;

$yellow-100: #fffac2;
$yellow-200: #e6ec59;
$yellow-300: #d8e054;
$yellow-400: #b1b83b;
$yellow-500: #73781c;

$blue-500: #233a59;
$blue-600: #1C1D3B;

$shadow: #00000033;

$white: #ffffff;
$black: #000000;
