@use '../../assets/scss/variables' as colors;

.title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  color: colors.$black;

  &--sm {
    font-size: 16px;
    line-height: 22px;
  }

  &--lg {
    font-size: 24px;
    line-height: 29px;
  }
  
  &--xxl {
    font-size: 48px;
    line-height: 59px;
  }
  
  &--center {
    text-align: center;
  }
  
  &--left {
    text-align: left;
  }
  
  &--right {
    text-align: right;
  }
}
