@use '../../assets/scss/variables' as colors;

.character-card {
  width: 130px;
  height: 182px;
  position: relative;
  transition: 0.3s transform ease-in;
  transform-style: preserve-3d;

  &.character-card--animated {
    animation: wobble 0.5s ease;
  }

  @media screen and (min-width: 768px) {
    width: 212px;
    height: 260px;
  }

  &--flipped,
  &--matched {
    transform: rotateY(180deg);
    opacity: 1;
    animation: none;
  }

  &__face {
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -2px colors.$shadow;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;

    @media screen and (min-width: 768px) {
      padding: 16px 16px 22px 16px;
    }

    &--front {
      background-color: colors.$white;
      transform: rotateY(180deg);
      transition: opacity 0.8s ease-out;
      transition-delay: 1s;
      opacity: 1;

      .character-position {
        background-color: #1a7a83;
        color: #ffffff;
        border-width: 0 0 4px 4px;
        border-color: #d8e054;
        border-style: solid;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-align: center;
        font-family: Montserrat, sans-serif;
        padding: 0;
        border-radius: 100%;
        position: absolute;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -12px;
        top: -12px;
      }

      .character-thumb {
        border-radius: 8px;
        margin-bottom: 8px;
        object-fit: cover;
      }

      .character-details {
        &__name {
          color: colors.$blue-500;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          @media screen and (max-width: 768px) {
            font-size: 12px;
            line-height: 18px;
          }
        }

        &__status {
          font-size: 10px;
          line-height: 12.19px;
          color: colors.$black;
        }
      }
    }

    &--back {
      background-color: colors.$green-100;
      display: grid;
      place-content: center;
      cursor: pointer;
    }
  }

  &--matched {
    pointer-events: none;

    .character-card__face--front {
      opacity: 0;
    }
  }
}

@keyframes wobble {
  0%, 100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  }

  15% {
      -webkit-transform: translateX(-32px) rotate(-10deg);
      transform: translateX(-32px) rotate(-10deg);
  }

  30% {
      -webkit-transform: translateX(calc(32px / 2)) rotate(10deg);
      transform: translateX(calc(32px / 2)) rotate(10deg);
  }

  45% {
      -webkit-transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
      transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
  }

  60% {
      -webkit-transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
      transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
  }

  75% {
      -webkit-transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
      transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
  }
}