@use '../../assets/scss/variables' as colors;

.home {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__gameMode {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__content {
    .home-actions {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      position: sticky;
      bottom: 16px;
    }
  }
}